/* :root {
    --vp-font-family-base: "EB Garamond", serif;
  } */

.main{
    font-family: "EB Garamond", serif;
    font-size: larger;
    
}
body {
  /* background-image: url(/grey.png) */
}
.dark {
  --vp-c-bg:  #2d2d30;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #4d4d50;
  --vp-c-bg-soft: #4d4d50;
   
} 

/* .dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
} */